#smart-irrigation-slides {
  background-color: rgba(221, 221, 221, 0.9);
  margin: 0;
  padding: 0;
  min-height: 400px;

  p {
    line-height: 1.3em;
  }

  .some-good-points {
    font-size: 0.75em;
    margin: 0;
    padding: 0;
    line-height: 1.1em;
    padding-bottom: 1em;
  }

  .slide {
    padding: 3em 1em 3em 1em;
    margin: auto;
  }
}
